In [36]:
import pandas as pd
import requests as re
import datetime as dt

In [2]:
url_recovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv"

url_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv"

url_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv"

In [60]:
recovered_df = pd.read_csv(url_recovered)
deaths_df = pd.read_csv(url_deaths)
confirmed_df = pd.read_csv(url_confirmed)

data_list = [recovered_df,deaths_df,confirmed_df]

In [63]:
def func_clean_data(df_list):
    return_list = []
    for df in df_list:
        df = recovered_df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'])
        df.rename(columns={
            'variable':'DATE',
            'value':'VALUE',
            'Lat':'LATITUDE',
            'Long':'LONGITUDE',
            'Country/Region':'COUNTRY_REGION',
            'Province/State':'PROVINCE_STATE'
        },inplace=True)
        df['DATE'] = pd.to_datetime(df['DATE'])
        return_list.append(df)
    return return_list

In [64]:
return_list = func_clean_data(data_list)

In [55]:
recovered_df = recovered_df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'])
recovered_df.rename(columns={
    'variable':'DATE',
    'value':'RECOVERED',
    'Lat':'LATITUDE',
    'Long':'LONGITUDE',
    'Country/Region':'COUNTRY_REGION',
    'Province/State':'PROVINCE_STATE'
},inplace=True)
recovered_df['DATE'] = pd.to_datetime(recovered_df['DATE'])

In [56]:
deaths_df = deaths_df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'])
deaths_df.rename(columns={
    'variable':'DATE',
    'value':'DEATHS',
    'Lat':'LATITUDE',
    'Long':'LONGITUDE',
    'Country/Region':'COUNTRY_REGION',
    'Province/State':'PROVINCE_STATE'
},inplace=True)
deaths_df['DATE'] = pd.to_datetime(deaths_df['DATE'])

In [57]:
confirmed_df = confirmed_df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'])
confirmed_df.rename(columns={
    'variable':'DATE',
    'value':'CONFIRMED',
    'Lat':'LATITUDE',
    'Long':'LONGITUDE',
    'Country/Region':'COUNTRY_REGION',
    'Province/State':'PROVINCE_STATE'
},inplace=True)
confirmed_df['DATE'] = pd.to_datetime(confirmed_df['DATE'])

In [58]:
 confirmed_df.

,PROVINCE_STATE,COUNTRY_REGION,LATITUDE,LONGITUDE,DATE,CONFIRMED
0,NaN,Thailand,15.0000,101.0000,2020-01-22,2
1,NaN,Japan,36.0000,138.0000,2020-01-22,2
2,NaN,Singapore,1.2833,103.8333,2020-01-22,0
3,NaN,Nepal,28.1667,84.2500,2020-01-22,0
4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0
5,British Columbia,Canada,49.2827,-123.1207,2020-01-22,0
6,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0
7,Victoria,Australia,-37.8136,144.9631,2020-01-22,0
8,Queensland,Australia,-28.0167,153.4000,2020-01-22,0
9,NaN,Cambodia,11.5500,104.9167,2020-01-22,0
10,NaN,Sri Lanka,7.0000,81.0000,2020-01-22,0
11,NaN,Germany,51.0000,9.0000,2020-01-22,0
12,NaN,Finland,64.0000,26.0000,2020-01-22,0
13,NaN,United Arab Emirates,24.0000,54.0000,2020-01-22,0
14,NaN,Philippines,13.0000,122.0000,2020-01-22,0
15,NaN,India,21.0000,78.0000,2020-01-22,0
16,NaN,Italy,43.0000,12.0000,2020-01-22,0
17,NaN,Sweden,63.0000,16.0000,2020-01-22,0
18,NaN,Spain,40.0000,-4.0000,2020-01-22,0
19,South Australia,Australia,-34.9285,138.6007,2020-01-22,0
20,NaN,Belgium,50.8333,4.0000,2020-01-22,0
21,NaN,Egypt,26.0000,30.0000,2020-01-22,0
22,From Diamond Princess,Australia,35.4437,139.6380,2020-01-22,0
23,NaN,Lebanon,33.8547,35.8623,2020-01-22,0
24,NaN,Iraq,33.0000,44.0000,2020-01-22,0
25,NaN,Oman,21.0000,57.0000,2020-01-22,0
26,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0
27,NaN,Bahrain,26.0275,50.5500,2020-01-22,0
28,NaN,Kuwait,29.5000,47.7500,2020-01-22,0
29,NaN,Algeria,28.0339,1.6596,2020-01-22,0
...,...,...,...,...,...,...
29677,NaN,Djibouti,11.8251,42.5903,2020-03-22,1
29678,NaN,"Gambia, The",13.4432,-15.3101,2020-03-22,1
29679,Montserrat,United Kingdom,16.7425,-62.1874,2020-03-22,1
29680,NaN,"Bahamas, The",25.0343,-77.3963,2020-03-22,4
29681,Greenland,Denmark,71.7069,-42.6043,2020-03-22,4
29682,New Caledonia,France,-20.9043,165.6180,2020-03-22,4
29683,Bermuda,United Kingdom,32.3078,-64.7505,2020-03-22,2
29684,NaN,Chad,15.4542,18.7322,2020-03-22,1
29685,NaN,El Salvador,13.7942,-88.8965,2020-03-22,3
29686,NaN,Fiji,-17.7134,178.0650,2020-03-22,2
29687,NaN,Nicaragua,12.8654,-85.2072,2020-03-22,2
29688,NaN,Madagascar,-18.7669,46.8691,2020-03-22,3
29689,NaN,Haiti,18.9712,-72.2852,2020-03-22,2
29690,NaN,Angola,-11.2027,17.8739,2020-03-22,2
29691,NaN,Cabo Verde,16.5388,-23.0418,2020-03-22,3
29692,Sint Maarten,Netherlands,18.0425,-63.0548,2020-03-22,1
29693,NaN,Niger,17.6078,8.0817,2020-03-22,2
29694,NaN,Papua New Guinea,-6.3150,143.9555,2020-03-22,1
29695,Isle of Man,United Kingdom,54.2361,-4.5481,2020-03-22,5
29696,NaN,Zimbabwe,-20.0000,30.0000,2020-03-22,3
29697,Northwest Territories,Canada,64.8255,-124.8457,2020-03-22,1
29698,NaN,Cape Verde,15.1111,-23.6167,2020-03-22,1
29699,NaN,East Timor,-8.5500,125.5600,2020-03-22,1
29700,NaN,Eritrea,15.1794,39.7823,2020-03-22,1
29701,NaN,Uganda,1.0000,32.0000,2020-03-22,1
29702,NaN,Dominica,15.4150,-61.3710,2020-03-22,1
29703,NaN,Grenada,12.1165,-61.6790,2020-03-22,1
29704,NaN,Mozambique,-18.6657,35.5296,2020-03-22,1
29705,NaN,Syria,34.8021,38.9968,2020-03-22,1
29706,NaN,Timor-Leste,-8.8742,125.7275,2020-03-22,1